.billboard {
    color: white;
    object-fit: contain;
    height: 810px;
    .billboard__content {
        padding-top: 200px;
        margin-left: 60px;
        width: 636px;
        height: 392px;
        .billboard__title {
            font-size: 5rem;
            font-weight: 800;
            padding-bottom: 0.3rem;
        }
        .billboard__description {
            font-weight: 400;
            font-size: 26px;
            line-height: 33px;
        }
        .billboard__buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 15px;
            padding: 0px;
            gap: 15px;
            .billboard__button {
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(255, 255, 255, 0.3);
                color: #fff;
                cursor: pointer;
                outline: none;
                border: none;
                font-weight: 700;
                font-size: 22px;
                line-height: 28px;
                padding: 15px 30px;
                gap: 20px;
                border-radius: 4px;
                &.play {
                    color: black;
                    background-color: #fff;
                }
                &.play:hover {
                    background-color: rgba(255, 255, 255, 0.817);
                }
            }
            .billboard__button:hover {
                background: #bcbbbb4d;
            }
        }
    }
}
